/* .App {
 text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS */

ul li {
  list-style-type: none;
}

:root {
  --white-bg: #F1EBE4;
  --grey-bg: #BCB9B4;
  --dark-bg: #252321;
  --primary-red: #900000; 
  --secondary-red: #6E0D25;
  --primary-brown: #A7988B;
  --secondary-brown: #47412D;
  --green-accent: #749635;
}